<root>
	<所有用户>
		<option>
			<face>
				<pimg>
					<木刻>WOOD/</木刻>
					<光泽>DELICATE/</光泽>
					<卡通>COMIC/</卡通>
					<精致>POLISH/</精致>
				</pimg>
				<bdimg>
					<白色大理石>WHITE.JPG</白色大理石>
					<再生纸>SHEET.JPG</再生纸>
					<栎木>WOOD.JPG</栎木>
					<画布>CANVAS.JPG</画布>
					<水滴>DROPS.JPG</水滴>
					<浅红象棋>QIANHONG.GIF</浅红象棋>
					<绿色大理石>GREEN.JPG</绿色大理石>
				</bdimg>
			</face>
		</option>
	</所有用户>
	<cjp>
		<file>
			<pgnfile>
				<lastname>C:/cc/pgn/兵的着法.pgn</lastname>
			</pgnfile>
		</file>
		<option>
			<action>
				<openlastpgn>yes</openlastpgn>
			</action>
			<sound>
				<isopen>yes</isopen>
			</sound>
			<cartoon>
				<isopen>no</isopen>
			</cartoon>
			<face>
				<imgpath>./IMAGES_L/</imgpath>
				<pimgpath>./IMAGES_L/WOOD/</pimgpath>
				<bdimgname>./IMAGES_L/WOOD.JPG</bdimgname>
			</face>
		</option>
	</cjp>
</root>
